/* Style */

body {
  font-family: "Helvetica";
}

.btn-green-custom {
  background-color: #5cb85f;
}

/* Navbar Section */
.navbar-section img {
  width: 100px;
  height: 34px;
}

.navbar-section li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.navbar-section li button {
  width: 81px;
  height: 36px;
  background: #5cb85f;
  border-radius: 2px;
  font-weight: bold;
  font-size: 14px;
  border: none;
}
/* Navbar Section */

/* Jumbotron Section */
.jumbtron-section h1 {
  margin-top: 118px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #000000;
}

.jumbtron-section p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: black;
  margin-top: 16px;
}

.jumbtron-section button {
  background: #5cb85f;
  border-radius: 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  border: none;
}

.jumbtron-section img {
  width: 670px;
  height: auto;
  margin-top: 45px;
}
/* Jumbotron Section */

/* Search Car Section */
.search-car {
  margin-top: -3.1%;
  position: relative;
  width: 90%;
  background-color: white;
  border-radius: 8px;
  border: black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
/* Search Car Section */

/* Our Service Section */
.img-ourservice img {
  width: 459px;
  height: auto;
  margin-top: 104px;
}

.ourservice-section h1 {
  margin-top: 136px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: black;
}

.ourservice-section p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-top: 24px;
}

.ourservice-section li {
  list-style: none;
  margin-bottom: 10px;
  margin-top: 16px;
  margin-left: -32px;
}

.ourservice-section li img {
  width: 24px;
  height: auto;
}

.ourservice-section span {
  margin-left: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
/* Our Service Section */

/* Why US Section */
.whyus-section h1 {
  margin-top: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.whyus-section p {
  margin-top: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.whyus-cardtitle-section img {
  width: 32px;
  height: 32px;
  margin-left: 18px;
  margin-top: 24px;
}

.whyus-cardtitle-section h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
/* Why US Section */

/* Testimony Section */
.testimony-section h1 {
  margin-top: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.testimony-section p {
  margin-top: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
/* Testimony Section */

/* Carousel Section */
.item {
  width: 97%;
  height: 17em;
  margin-top: 40px;
  background: #f1f3ff;
  margin-left: 10%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.img-profil {
  width: 120px;
  height: auto;
  margin-top: 80px;
  margin-left: 10%;
}

.img-rate {
  width: 138px;
  height: auto;
  margin-left: 1px;
  margin-top: 60px;
}

.desc-testi {
  margin-top: 90px;
  margin-left: -135px;
  width: 60%;
  font-size: 14px;
}

.person-testi p {
  margin-left: -0.1%;
  margin-top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}
/* Carousel Section */

/* CTA Banner Section */
.cta-banner {
  background-color: #0d28a6;
  border-radius: 13px;
  margin-top: 100px;
}

.cta-banner h1 {
  padding-top: 44px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

.cta-banner p {
  padding-top: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.btn-cta-banner {
  text-align: center;
  font-size: 14px;
  padding-top: 42px;
  padding-bottom: 34px;
}
/* CTA Banner Section */

/* FAQ Banner Section */
.FAQ-content {
  margin-top: 100px;
}

.faq-desc-content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.faq-desc-content p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.accordion-item {
  margin-top: 16px;
  border-radius: 4px;
  box-sizing: border-box;
}
/* FAQ Banner Section */

/* Footer */
.footer-section {
  margin-top: 150px;
  margin-bottom: 100px;
}

.address-footer-content {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.navigation-list-footer ul li {
  list-style: none;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-left: -30px;
}

.navigation-list-footer a {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.sosmed-footer li {
  margin-left: -30px;
  list-style: none;
}

.sosmed-footer img {
  width: 32px;
  float: left;
  margin-right: 16px;
  margin-bottom: 10px;
}

.coyright-footer li {
  font-family: "Helvetica";
  list-style: none;
  margin-left: -30px;
}

.coyright-footer img {
  width: 100px;
  height: 34px;
}
/* Footer */

/* Sidebar */
.navbar-toggler {
  display: none;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #000000;
  display: block;
  transition: 0.3s;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.sidebar button {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  margin-left: 30px;
  width: 81px;
  height: 36px;
  background: #5cb85f;
  border-radius: 2px;
  font-weight: bold;
  font-size: 14px;
  border: none;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  margin-top: 15px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #f1f3ff;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

.bcr {
  display: block;
  transition: 0.3s;
  margin-top: -50px;
  margin-bottom: 20px;
  margin-left: 15px;
  font-size: 23px;
  font-weight: bold;
  color: #000000;
}
/* Sidebar */

/* Cardtitle */
.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* Cardtitle */

/* Filtering */
.filter {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}
/* Filtering */

/* Responsive */

@media only screen and (max-width: 487px) {
  .item {
    width: 100%;
    height: 410px;
    margin-top: 40px;
    background: #f1f3ff;
    margin-left: -1%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  }

  .img-profil {
    width: 120px;
    height: auto;
    margin-top: 10%;
    margin-left: 33%;
  }

  .img-rate {
    width: 138px;
    height: auto;
    margin-left: 31%;
    margin-top: 8%;
  }

  .desc-testi {
    width: 75%;
    margin-top: 5%;
    margin-left: 13%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .jumbtron-section {
    margin-top: -30px;
  }

  .ourservice-section {
    margin-top: -20px;
  }

  .ourservice-section h1 {
    margin-top: 25px;
  }

  .whyus-section {
    margin-top: -20px;
  }

  .testimony-section {
    margin-top: -38px;
  }

  .ctabanner-section {
    margin-top: -40px;
  }

  .FAQ-section {
    margin-top: -30px;
  }

  .footer-section {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar-section {
    padding-top: 20px;
  }

  .openbtn {
    display: none;
  }
}
